# Ignore Python virtual environment
venv/

# Ignore Python bytecode/cache
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store

# Ignore logs
*.log

# Ignore Jupyter checkpoints if used
.ipynb_checkpoints/

# Ignore VSCode settings (optional, if you're using VSCode)
.vscode/

